<% was_validated = combination.errors.any? %>

<%= form_with(model: combination, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% ingredient_class = "form-control" %>
    <% ingredient_was_invalid = combination.errors.include?(:ingredient) %>

    <% if was_validated %>
      <% if ingredient_was_invalid %>
        <% ingredient_class << " is-invalid" %>
      <% else %>
        <% ingredient_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :ingredient_id %>
    <%= f.collection_select :ingredient_id, Ingredient.all, :id, :to_s, {}, class: "form-control" %>
    <% if ingredient_was_invalid %>
      <% combination.errors.full_messages_for(:ingredient).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% quantity_class = "form-control" %>
    <% quantity_was_invalid = combination.errors.include?(:quantity) %>

    <% if was_validated %>
      <% if quantity_was_invalid %>
        <% quantity_class << " is-invalid" %>
      <% else %>
        <% quantity_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :quantity %>
    <%= f.text_field :quantity, class: quantity_class, placeholder: "Enter quantity" %>
    <% if quantity_was_invalid %>
      <% combination.errors.full_messages_for(:quantity).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% unit_class = "form-control" %>
    <% unit_was_invalid = combination.errors.include?(:unit) %>

    <% if was_validated %>
      <% if unit_was_invalid %>
        <% unit_class << " is-invalid" %>
      <% else %>
        <% unit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :unit %>
    <%= f.text_field :unit, class: unit_class, placeholder: "Enter unit" %>
    <% if unit_was_invalid %>
      <% combination.errors.full_messages_for(:unit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% dish_class = "form-control" %>
    <% dish_was_invalid = combination.errors.include?(:dish) %>

    <% if was_validated %>
      <% if dish_was_invalid %>
        <% dish_class << " is-invalid" %>
      <% else %>
        <% dish_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :dish_id %>
    <%= f.collection_select :dish_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
    <% if dish_was_invalid %>
      <% combination.errors.full_messages_for(:dish).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
