<!-- Form combination start -->
<%= form_with(model: @combination, local: true) do |f| %>
<!-- Form combination end -->

  <!-- Label and input for ingredient_id start -->
  <!-- Input for ingredient_id start -->
  <%= f.hidden_field :ingredient_id, value: @ingredient.id %>
  <!-- Input for ingredient_id end -->
  <!-- Label and input for ingredient_id end -->

  <!-- Label and input for quantity start -->
  <div class="form-group">
    <%= f.label :quantity %>

    <!-- Input for quantity start -->
    <%= f.text_field :quantity, class: "form-control" %>
    <!-- Input for quantity end -->
  </div>
  <!-- Label and input for quantity end -->

  <!-- Label and input for unit start -->
  <div class="form-group">
    <%= f.label :unit %>

    <!-- Input for unit start -->
    <%= f.text_field :unit, class: "form-control" %>
    <!-- Input for unit end -->
  </div>
  <!-- Label and input for unit end -->

  <!-- Label and input for dish_id start -->
  <div class="form-group">
    <%= f.label :dish_id %>

    <!-- Input for dish_id start -->
    <%= f.collection_select :dish_id, Dish.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for dish_id end -->
  </div>
  <!-- Label and input for dish_id end -->

  <%= f.submit "Create combination", class: "btn btn-block btn-outline-secondary" %>
<% end %>
