<div class="card mb-3">
  <h2 class="card-header h4">
    Dish #<%= dish.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Dish name</dt>
      <dd><%= dish.dish_name %></dd>

      <dt>Source</dt>
      <dd><%= dish.source %></dd>

      <dt>Time required</dt>
      <dd><%= dish.time_required %></dd>

      <dt>Category</dt>
      <dd>
        <% if @dish.category.present? %>
          <%= link_to dish.category, dish.category %>
        <% end %>
      </dd>

      <dt>User</dt>
      <dd>
        <% if @dish.user.present? %>
          <%= link_to dish.user, dish.user %>
        <% end %>
      </dd>

      <dt>Dish photo</dt>
      <dd>
        <%= cl_image_tag @dish.dish_photo, class: "img-fluid" %>
      </dd>

      <dt>Instructions</dt>
      <dd><%= dish.instructions %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back dish, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <% if current_user == @dish.user %>
          <%= link_to edit_dish_url(dish), class: "btn btn-block btn-sm btn-outline-secondary" do %>
            <i class="fas fa-edit"></i>
          <% end %>
        <% end %>
      </div>

      <div class="col">
        <% if current_user == @dish.user %>
          <%= link_to dish, method: :delete, data: { confirm: "Do you really want to delete this dish?" }, class: "btn btn-block btn-outline-secondary" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(dish.updated_at) %> ago
  </div>
</div>
